# Quickstart

A tutorial on mesagrid

In [1]:
from mesagrid import Track

In [2]:
# output fewer columns to make the tables look better on the web
import pandas as pd
pd.set_option('display.max_columns', 4)

In [3]:
track = Track('work')
track

Track in directory: work/LOGS
call track.history, track.profiles, track.freqs, track.index

In [4]:
track.history

     model_number  num_zones  ...  num_retries  num_iters
0               1        792  ...            0          6
1               2        790  ...            0          3
2               3        790  ...            0          3
3               4        790  ...            0          2
4               5        790  ...            0          3
..            ...        ...  ...          ...        ...
205           206        938  ...            0         10
206           207        954  ...            0         10
207           208        965  ...            0         10
208           209        975  ...            0         10
209           210        988  ...            0          5

[210 rows x 59 columns]

In [5]:
track.index

    model_number  priority  profile_number
0             20         1               1
1             40         1               2
2             60         1               3
3             80         1               4
4            100         1               5
5            120         1               6
6            140         1               7
7            160         1               8
8            180         1               9
9            200         1              10
10           210         3              11

In [6]:
track.profiles[5] # lazy load profiles

  0%|          | 0/11 [00:00<?, ?it/s]

     zone          mass  ...       cno     tri_alpha
0       1  1.000000e+00  ...  0.000000  0.000000e+00
1       2  1.000000e+00  ...  0.000000  0.000000e+00
2       3  1.000000e+00  ...  0.000000  0.000000e+00
3       4  1.000000e+00  ...  0.000000  0.000000e+00
4       5  1.000000e+00  ...  0.000000  0.000000e+00
..    ...           ...  ...       ...           ...
808   809  1.250073e-06  ...  3.304240  4.043402e-35
809   810  6.250365e-07  ...  3.295023  4.047072e-35
810   811  3.125182e-07  ...  3.289226  4.049383e-35
811   812  1.562591e-07  ...  3.285578  4.050839e-35
812   813  7.812956e-08  ...  3.280683  4.052113e-35

[813 rows x 12 columns]

In [7]:
track.get_history(5) # 5th profile file

    model_number  num_zones  ...  num_retries  num_iters
99           100        796  ...            0          5

[1 rows x 59 columns]

In [8]:
track.freqs[5] # oscillation frequencies

  0%|          | 0/11 [00:00<?, ?it/s]

          E_norm     Re(freq)  ...  n_p  n_pg
0   5.351371e-07  1100.674459  ...    9     9
1   2.382415e-07  1207.454187  ...   10    10
2   1.228722e-07  1312.267544  ...   11    11
3   7.327937e-08  1417.344405  ...   12    12
4   4.639457e-08  1522.715509  ...   13    13
..           ...          ...  ...  ...   ...
85  8.738640e-09  2943.280419  ...   25    25
86  9.023354e-09  3051.142005  ...   26    26
87  9.449193e-09  3158.878568  ...   27    27
88  1.014663e-08  3266.306127  ...   28    28
89  1.173211e-08  3371.933874  ...   29    29

[90 rows x 7 columns]