# Quickstart

We begin by importing the `Track` module from `mesagrid` and loading our `work` directory containing a MESA `LOGS` directory:

In [1]:
from mesagrid import Track

Updated star.py 2025-06-20 08:41:47.943154

In [2]:
# output fewer columns to make the tables look better on the web
import pandas as pd
pd.set_option('display.max_columns', 4)
pd.set_option("display.precision", 4)

In [3]:
track = Track('work/LOGS')
track

Track in directory: work/LOGS
call track.history, track.profiles, track.freqs, track.index

## MESA history

In [4]:
track.history

     model_number  num_zones  ...  num_retries  num_iters
0               1        792  ...            0          6
1               2        790  ...            0          3
2               3        790  ...            0          3
3               4        790  ...            0          2
4               5        790  ...            0          3
..            ...        ...  ...          ...        ...
205           206        938  ...            0         10
206           207        954  ...            0         10
207           208        965  ...            0         10
208           209        975  ...            0         10
209           210        988  ...            0          5

[210 rows x 59 columns]

## MESA index

In [5]:
track.index

    model_number  priority  profile_number
0             20         1               1
1             40         1               2
2             60         1               3
3             80         1               4
4            100         1               5
5            120         1               6
6            140         1               7
7            160         1               8
8            180         1               9
9            200         1              10
10           210         3              11

## MESA profile files

In [6]:
track.profiles[5] # lazy load profiles

  0%|          | 0/11 [00:00<?, ?it/s]

     zone        mass  ...     cno   tri_alpha
0       1  1.0000e+00  ...  0.0000  0.0000e+00
1       2  1.0000e+00  ...  0.0000  0.0000e+00
2       3  1.0000e+00  ...  0.0000  0.0000e+00
3       4  1.0000e+00  ...  0.0000  0.0000e+00
4       5  1.0000e+00  ...  0.0000  0.0000e+00
..    ...         ...  ...     ...         ...
808   809  1.2501e-06  ...  3.3042  4.0434e-35
809   810  6.2504e-07  ...  3.2950  4.0471e-35
810   811  3.1252e-07  ...  3.2892  4.0494e-35
811   812  1.5626e-07  ...  3.2856  4.0508e-35
812   813  7.8130e-08  ...  3.2807  4.0521e-35

[813 rows x 12 columns]

In [7]:
track.get_history(5) # 5th profile file

    model_number  num_zones  ...  num_retries  num_iters
99           100        796  ...            0          5

[1 rows x 59 columns]

## Oscillation frequencies from GYRE

In [8]:
track.freqs[5] # oscillation frequencies

  0%|          | 0/11 [00:00<?, ?it/s]

        E_norm   Re(freq)  ...  n_p  n_pg
0   5.3514e-07  1100.6745  ...    9     9
1   2.3824e-07  1207.4542  ...   10    10
2   1.2287e-07  1312.2675  ...   11    11
3   7.3279e-08  1417.3444  ...   12    12
4   4.6395e-08  1522.7155  ...   13    13
..         ...        ...  ...  ...   ...
85  8.7386e-09  2943.2804  ...   25    25
86  9.0234e-09  3051.1420  ...   26    26
87  9.4492e-09  3158.8786  ...   27    27
88  1.0147e-08  3266.3061  ...   28    28
89  1.1732e-08  3371.9339  ...   29    29

[90 rows x 7 columns]